@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  @apply bg-[#f5f5f7] text-slate-900 antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #cbd5f5;
  border-radius: 9999px;
}
